{% extends 'base.html' %}
{% load static %}
{% block content %}
<br><br><br><br>
<h3 class='text-center'>Ваша корзина</h3>
<br>
{% if cart.items.count > 0 %}
<div class='my-cart'>
	<table class="table">
		<tr>
			<td class='text-center'><strong>Товар</strong></td>
			<td class='text-center'><strong>Кол-во</strong></td>
			<td class='text-center'><strong>Цена</strong></td>
			<td class='text-center'></td>
		</tr>
		{% for item in cart.items.all %}
			<tr id="{{ item.order.slug }}">
				<td class='text-center'>{{ item.order.title }}</td>
				<td class='text-center'>
					<form action='' method="GET">
						<input type='number' name='qty' class='cart-item-qty' data-id='{{ item.id }}' value='{{ item.qty }}' min='1' style='width: 50px'>
					</form>
				</td>
				<td class='text-center' id='cart-item-total-{{ item.id }}'>{{ item.item_total }} BYN</td>
				<td class='text-center'><a href='#' class="remove_from_cart" data-slug='{{ item.order.slug }}' data-id='{{ item.order.slug }}'><button class='btn btn-default'>Удалить из корзины</button></a></td>
			</tr>
		{% endfor %}
	<tr>
		<td></td>
		<td class='text-center'><strong>Итого: </strong></td>
		<td class='text-center' id='cart-total-price'><strong>{{ cart.cart_total }} BYN</strong></td>
		<td></td>
	</tr>
	</table>
	<br>
	<a href='{% url "checkout" %}' class='pull-right'><button class="btn btn-info">Предварительный заказ</button></a>
</div>
<h3 class='cart-empty'></h3>
{% else %}
<h3 class='text-center'>Ваша корзина пуста</h3>
{% endif %}
<script src='{% static "js/jquery.js" %}'></script>
<script>
$(document).ready(function(){
	$('.cart-empty').css('display', 'none')
	$('.remove_from_cart').on('click', function(e){
		e.preventDefault()
		order_slug = $(this).attr('data-slug')	
		item_order_id = $('.cart-item').attr('data-id')
		data = {
			order_slug: order_slug
		}

		$.ajax({
			type: "GET",
			url: '{% url "remove_from_cart" %}',
			data: data,
			success: function(data){
				$('#'+order_slug).remove()
				$("#cart_count").html(data.cart_total)
				$('.cart-item-'+item_order_id).css('display', 'none')
				$('#cart-total-price').html('<strong>' + parseFloat(data.cart_total_price).toFixed(2) + ' BYN </strong>')
				if (parseInt(data.cart_total) == 0) {
					$('.my-cart').css('display', 'none')
					$('.cart-empty').css('display', 'block')
					$('.cart-empty').html('<h3 class="text-center">Ваша корзина пуста</h3>')
				}
			}
		})
	})
})
$(document).ready(function(){
	$('.cart-item-qty').on('click', function(){
		qty = $(this).val()
		item_id = $(this).attr('data-id')
		data = {
			qty: qty,
			item_id: item_id
		}
		$.ajax({
			type: "GET",
			url: '{% url "change_item_qty" %}',
			data: data,
			success: function(data){
				$('#cart-item-total-'+item_id).html(parseFloat(data.item_total).toFixed(2) + ' BYN')
				$('#cart-total-price').html('<strong>' + parseFloat(data.cart_total_price ).toFixed(2) + ' BYN </strong>')
			}
		})
	})
})
</script>
{% endblock content %}